{% extends 'template.html' %}
{% block content %}

<!-- creating the game screen -->
<canvas id="canvas" width="1040" height="720" style="border:5px solid #000;"></canvas>

<!-- container for forms -->
<div class="container">
    <!-- form that starts the game with the input data when submitted -->
    <form action='/index/1player/' method="POST">
        {{ form.csrf_token }}
        <label for="aiSpeedSelector">Choose AI Speed:</label>
        <select id="aiSpeedSelector" name="ai_speed">
            <option value="6" {% if ai_speed == '6' %} selected {% endif %}>Low</option>
            <option value="12" {% if ai_speed == '12' %} selected {% endif %}>Medium</option>
            <option value="16" {% if ai_speed == '16' %} selected {% endif %}>High</option>
        </select>
        <input type="hidden" name="selected_ai_speed" value="{{ai_speed}}">
        <input class="btn btn-default" type="submit" value="Play">
    </form>
    <!-- code to display score and present a user_name input with a submit button for the leaderboard -->
    <form class="form-horizontal" id="form-hidden" method="post" role="form">
        <div class="form-group">
            <p class="form-inputs">
                <span id="show_score"></span>
                {{ form.csrf_token }}
                {{ form.user_name(placeholder="name") }}
                <span id="errors"></span>
                {{ form.score(id="score") }}
                <input class="btn btn-default" id="submitButton" type="submit" value="submit score">
        </div>
    </form>
</div>
<br>
<script>

    var stop;
    var wait = 1000;
    var keep_going = true;

    // ball x, y, dimension
    cx = cy = 50;
    bd = 6;

    // paddle y, thickness, height
    p1y = p2y = 40;
    pt = 10;
    ph = 100;

    //track score
    score1 = score2 = 0;

    // Set up a variable to control scoring frequency
    let canScore = true;

    // starting velocity of ball
    xv = yv = 11;

    // Define constants for canvas and paddle dimensions
    const canvasWidth = canvas.width;
    const canvasHeight = canvas.height;
    const paddleWidth = pt;
    const paddleHeight = ph;

    //audio
    var rebound_sound = new Audio('/static/sounds/bounce.mp3');
    var gameover_sound = new Audio('/static/sounds/gameover.mp3');


    // ai speed for paddle movement
    var ais = {{ai_speed}}


    // python list cast to json
    var names = {{names|tojson}}


    // game end function, displays score and form for name input
    var calculate_score = function () {
        //play game end sound
        if (play_fx) {
            gameover_sound.play();
        }

        // calculate score
        document.getElementById("score").value = score1 - score2;

        // display hidden form and score
        document.getElementById("form-hidden").style.display = "block";
        document.getElementById("show_score").innerHTML = "Score: " + (score1 - score2);

        // Get the element cy ID and set inline styles
        const showScoreElement = document.getElementById("show_score");
        showScoreElement.style.fontFamily = "Impact"; // Set font to impact
        showScoreElement.style.fontSize = "24px"; // Set font size to 24 pixels
        showScoreElement.style.color = "green"; // Set text color to green
    };


    // main game setup
    window.onload = function () {
        // setting out the game window
        canvas = document.getElementById("canvas");
        canvas_context = canvas.getContext("2d");
        canvas.width = 1040;
        canvas.height = 720;

        // set frame rate
        stop = setInterval(update, 1000 / 30);

        // Calculate the canvas's position relative to the window for mouse movement
        const canvasRect = canvas.getBoundingClientRect();
        const canvasOffsetTop = canvasRect.top + window.scrollY;

        //user controls
        document.addEventListener("mousemove", function (e) {
            // keep center of player 1 paddle at area of users mouse
            p1y = e.clientY - canvasOffsetTop;

            // Calculate new paddle position based on mouse
            const newPaddleY = e.clientY - paddleHeight / 2;

            // Ensure paddle 1 stays within canvas boundaries
            p1y = Math.max(Math.min(newPaddleY, canvasHeight - paddleHeight), 0);
        });

    }

    // game loop
    function update() {
        // add speed to coordinate of ball
        cx += xv;
        cy += yv;

        // Increase score if ball hits player 1's paddle
        if (cx < pt && (cy > p1y && cy < p1y + ph)) {
            xv = -xv; // Reverse ball's direction
            // Check if scoring is allowed (based on the delay mechanism)
            if (canScore) {
                score1++;
                canScore = false; // Disable scoring temporarily
                setTimeout(() => {
                    canScore = true; // Enable scoring after a delay (1)
                }, 1000); // Adjust the delay time in milliseconds as needed
            }
        }

        // Check if ball passes the paddles without being hit
        if ((cx < 0 && (cy <= p1y || cy >= p1y + ph)) || (cx > canvas.width && (cy <= p2y || cy >= p2y + ph))) {
            clearInterval(stop);
            calculate_score();
            return; // stop the game loop by exiting the update function
        }

        // to make the ball bounce at the edges of the screen
        // ball is at bottom of screen moving downwards
        if (cy < 0 && yv < 0) {
            // reverse y velocity
            yv = -yv
        }
        // ball is at top of screen moving upwards
        if (cy > canvas.height && yv > 0) {
            // reverse y velocity
            yv = -yv
        }

        // ball is at left side of screen
        if (cx == 0) {
            // ball has touched boundaries of paddle, bounce it
            if (cy > p1y && cy < p1y + ph) {
                //play rebound sound
                if (play_fx) {
                    rebound_sound.play();
                }

                // reverse x velocity
                xv = -xv;
                // reduce y velocity based on hit location of paddle
                dy = cy - (p1y + ph / 2);
                yv = dy * 0.3;
            }
        }

        // ball is at right side of screen
        if (cx > canvas.width) {
            // ball has touched boundaries of paddle, bounce it
            if (cy > p2y && cy < p2y + ph) {
                //play rebound sound
                if (play_fx) {
                    rebound_sound.play();
                }

                // reverse x velocity
                xv = -xv;
                 // reduce y velocity based on hit location of paddle
                dy = cy - (p2y + ph / 2);
                yv = dy * 0.3;
            }
        }


        // AI player 2, aims to keep paddle in line with ball y co-ordinate
        if (p2y + ph / 2 < cy) {
            requestAnimationFrame(function () {
                p2y += ais;
            });
        } else {
            p2y -= ais;
        }

        // Update paddle 2 (AI)
        // Ensure paddle 2 stays within canvas boundaries
        if (p2y + ph / 2 < cy) {
            const newPaddle2Y = p2y + ais;
            p2y = Math.max(Math.min(newPaddle2Y, canvasHeight - paddleHeight), 0);
        } else {
            const newPaddle2Y = p2y - ais;
            p2y = Math.max(Math.min(newPaddle2Y, canvasHeight - paddleHeight), 0);
        }

        // styling the canvas
        canvas_context.fillStyle = "black";
        canvas_context.fillRect(0, 0, canvas.width, canvas.height);
        canvas_context.fillStyle = "white";

        // ball
        canvas_context.fillRect(cx - bd / 2, cy - bd / 2, bd, bd);

        // draw paddles
        canvas_context.fillRect(0, p1y, pt, ph);
        canvas_context.fillRect(canvas.width - pt, p2y, pt, ph);

        // styling and positioning the score in the middle of the screen
        canvas_context.fillStyle = "green";
        canvas_context.font = "60px Impact";
        canvas_context.textAlign = "center";
        canvas_context.fillText(score1, canvas.width / 2, 60);

    }

    // validates the input form to check if user_name is already in database
    $("#user_name").change(function () {
        if (names.includes($("#user_name").val())) {
            // stop user from submitting form with invalid name
            $("#errors").text("NAME TAKEN").css({"color": "red"});
            $('#submitButton').attr("disabled", true);
        } else {
            // allow user to submit form again
            $("#errors").text("NAME FREE").css({"color": "green"});
            $('#submitButton').attr("disabled", false);
        }
    });
</script>

{% endblock %}