{% extends 'template.html' %}
{% block content %}

<!-- creating the game screen -->
<canvas id="canvas" width="1040" height="720" style="border:5px solid #000;"></canvas>

<div class="container">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- user selection of winpoint form before game starts -->
    <form action='/index/2player/' method="POST">
        {{ form.csrf_token }}
        <label for="winpointSelector">Choose Win Point:</label>
        <select id="winpointSelector" name="win_point">
            <option value="1" {% if win_point == '1' %} selected {% endif %}>1</option>
            <option value="3" {% if win_point == '3' %} selected {% endif %}>3</option>
            <option value="5" {% if win_point == '5' %} selected {% endif %}>5</option>
            <option value="10" {% if win_point == '10' %} selected {% endif %}>10</option>
        </select>
        <input class="btn btn-default" type="submit" value="Play">
    </form>
    <br>
    <!-- not working currently -->
    <div id="winnerDisplay" style="display: none;">
        <h2>Winner: <span id="winnerName"></span></h2>
        <p>Score: <span id="winnerScore"></span></p>
    </div>
</div>
<script>

    var stop;
    var wait = 1000;
    var keep_going = true;

    // ball x, y, dimension
    cx = cy = 50;
    bd = 6;

    // paddle y, thickness, height
    p1y = p2y = 40;
    pt = 10;
    ph = 100;

    // starting velocity of ball
    xv = yv = 11;

    // score to play to
    win_point = {{win_point}}

    //track score
    score1 = score2 = 0;

    // Flags to track key states for flawless movement
    var keysPressed = {};

    //audio
    var rebound_sound = new Audio('/static/sounds/bounce.mp3');
    var gameover_sound = new Audio('/static/sounds/gameover.mp3');


    // get score and add value to hidden form - not working
    var calculate_score = function (winnerName, winnerScore) {
        // console.log("submit " + score1 + ", " + score2);
        //play game end sound
        if (play_fx) {
            gameover_sound.play();
        }
        // calculate score, may be redundant if function is just used to toggle view, but isn't expensive
        document.getElementById("score").value = score1 - score2;

        // Update the winner name and score in the display
        document.getElementById("winnerName").textContent = winnerName;
        document.getElementById("winnerScore").textContent = winnerScore;

        // Show the winner display
        document.getElementById("winnerDisplay").style.display = "block";
    };

    // main game setup
    window.onload = function () {
        canvas = document.getElementById("canvas");
        canvas_context = canvas.getContext("2d");

        // set frame rate
        stop = setInterval(update, 1000 / 30);

        //event listeners for controls - down
        document.addEventListener("keydown", function (event) {
            keysPressed[event.key] = true;
        });
        //event listeners for controls - up
        document.addEventListener("keyup", function (event) {
            keysPressed[event.key] = false;
        });

    }

    // resets the game for beginning play
    function reset() {
        // center ball
        cx = canvas.width / 2;
        cy = canvas.height / 2;

        // reverse x velocity
        xv = -xv;

        // start ball moving
        yv = 4;
    }

    // game loop
    function update() {
        // win check
        if (score1 >= win_point || score2 >= win_point) {
            clearInterval(stop);
            if (score1 > score2) {
                calculate_score("Player 1", score1);
            } else {
                calculate_score("Player 2", score2);
            }
        }

        // Smooth movement for player 1 (w,s), to stop the browsers default delayed key page scroll
        if (keysPressed["w"] && p1y > 0) {
            p1y -= 10;
        } else if (keysPressed["s"] && p1y < canvas.height - ph) {
            p1y += 10;
        }

        // Smooth movement for player 2 (arrow keys), to stop the browsers default delayed key page scroll
        if (keysPressed["ArrowUp"] && p2y > 0) {
            p2y -= 10;
        } else if (keysPressed["ArrowDown"] && p2y < canvas.height - ph) {
            p2y += 10;
        }

        // add speed to coordinate of ball
        cx += xv;
        cy += yv;

        // to make the ball bounce at the edges of the screen
        // ball is at bottom of screen moving downwards
        if (cy < 0 && yv < 0) {
            // reverse y velocity
            yv = -yv
        }
        // ball is at top of screen moving upwards
        if (cy > canvas.height && yv > 0) {
            // reverse y velocity
            yv = -yv
        }

        // ball is at left side of screen
        if (cx < 0) {
            // ball has touched boundaries of paddle, bounce it
            if (cy > p1y && cy < p1y + ph) {
                // play rebound sound
                if (play_fx) {
                    rebound_sound.play();
                }

                // reverse x velocity
                xv = -xv;
                // reduce y velocity based on hit location of paddle
                dy = cy - (p1y + ph / 2);
                yv = dy * 0.3;
            }
            // player 1 paddle missed ball
            else {
                // award player 2 one point, reset game
                score2 = score2 + 1;
                reset();
            }
        }

        // ball is at right side of screen
        if (cx > canvas.width) {
            // ball has touched boundaries of paddle, bounce it
            if (cy > p2y && cy < p2y + ph) {
                //play rebound sound
                if (play_fx) {
                    rebound_sound.play();
                }

                // reverse x velocity
                xv = -xv;
                // reduce y velocity based on hit location of paddle
                dy = cy - (p2y + ph / 2);
                yv = dy * 0.3;
            }
            // player 2 paddle missed ball
            else {
                // award player 1 one point, reset game
                score1 = score1 + 1;
                reset();
            }
        }

        // styling the canvas
        canvas_context.fillStyle = "black";
        canvas_context.fillRect(0, 0, canvas.width, canvas.height);
        canvas_context.fillStyle = "white";

        // ball
        canvas_context.fillRect(cx - bd / 2, cy - bd / 2, bd, bd);

        // draw paddles
        canvas_context.fillRect(0, p1y, pt, ph);
        canvas_context.fillRect(canvas.width - pt, p2y, pt, ph);

        // styling and positioning score1 on left side of screen and score2 on right side
        canvas_context.font = "60px Impact";
        canvas_context.fillStyle = "green";
        canvas_context.fillText(score1, 100, 150);
        canvas_context.fillText(score2, canvas.width - 100, 150);

    };
</script>

{% endblock %}