{% extends 'template.html' %}
{% block content %}

<div class="container">
    <canvas id="canvas" width="640" height="480"></canvas>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <form class="form-horizontal" id="form-hidden" method="post" role="form">
        <div class="form-group">
            <p class="form-inputs">
                <span id="show_score"></span>
                {{ form.csrf_token }}
                {{ form.user_name(placeholder="name") }}
                <span id="errors"></span>
                {{ form.score(id="score") }}
                <br>
                <input class="btn btn-default" id="submitButton" type="submit" value="submit score">
                <input class="btn btn-default" onclick="play_again()" type="button" value="play again">
        </div>
    </form>

    <script>
        var stop;
        var wait = 1000;
        var keep_going = true;

        //paddle y, thickness, height
        p1y = p2y = 40;
        pt=10;
        ph=100;
        //ball x, y, dimension
        bx=by=50;
        bd=6;

        //track score
        score1 = score2 = 0;

        // score to play to
        win_point = {{win_point}}

        // initial velocity of ball
        xv = yv = 10;

        // Flags to track key states
        var keysPressed = {};

        //audio
        var rebound_sound = new Audio('/static/sounds/bounce.mp3');



        // get score and add value to hidden form
        var calculate_score = function () {
            // console.log("submit " + score1 + ", " + score2);

            // show hidden form
            document.getElementById("form-hidden").style.display = "block";

            // calculate score, may be redundant if function is just used to toggle view, but isn't expensive
            document.getElementById("score").value = score1 - score2;

            document.getElementById("show_score").innerHTML = "Score: " + (score1 - score2);
        };

        // main game
        window.onload = function () {
            canvas = document.getElementById("canvas");
            canvas_context = canvas.getContext("2d");

            // frame rate for game
            stop = setInterval(update, 1000 / 30);

            // User 1 controls with keyboard
            document.addEventListener("keydown", function (event) {
                // W and S keys for player 1
                if (event.key === "w" && p1y > 0) {
                    p1y -= 10;
                } else if (event.key === "s" && p1y < canvas.height - ph) {
                    p1y += 10;
                }
            });

            // User 2 controls with arrow keys
            document.addEventListener("keydown", function (event) {
                // Up and Down arrow keys for player 2
                if (event.key === "ArrowUp" && p2y > 0) {
                    p2y -= 10;
                } else if (event.key === "ArrowDown" && p2y < canvas.height - ph) {
                    p2y += 10;
                }
            });

        }

         function reset() {
            // center ball
            bx = canvas.width / 2;
            by = canvas.height / 2;

            // reverse x velocity
            xv = -xv;

            // start ball moving
            yv = 3;
        }

        function update() {
            if (score1 == win_point || score2 == win_point) {
                clearInterval(stop);
                calculate_score()
            }

            // move ball, add velocity to coordinate of ball
            bx += xv;
            by += yv;

            // bounce ball at edges of screen
            // if ball is at bottom of screen trying to move down
            if (by < 0 && yv < 0) {
                // reverse y velocity
                yv = -yv
            }
            // if ball is at top of screen trying to move up
            if (by > canvas.height && yv > 0) {
                // reverse y velocity
                yv = -yv
            }

            // if ball is at left side of screen
            if (bx < 0) {
                // if ball is above bottom of paddle and below top of paddle, bounce it
                if (by > p1y && by < p1y + ph) {

                    //play rebound sound
                    if (play_fx) {
                        rebound_sound.play();
                    }

                    // reverse x velocity
                    xv = -xv;
                    // reduce y velocity depending on where on the paddle the ball hits
                    dy = by - (p1y + ph / 2);
                    yv = dy * 0.3;
                }
                // paddle1 missed ball
                else {
                    // award player 2 one point, reset game
                    score2 = score2 + 1;
                    reset();
                }
            }

            // if ball is at right of screen
            if (bx > canvas.width) {
                // if ball is above bottom of paddle and below top of paddle, bounce it
                if (by > p2y && by < p2y + ph) {

                    //play rebound sound
                    if (play_fx) {
                        rebound_sound.play();
                    }

                    // reverse x velocity
                    xv = -xv;
                    // reduce y velocity depending on where on the paddle the ball hits
                    dy = by - (p2y + ph / 2);
                    yv = dy * 0.3;
                }
                // paddle1 missed ball
                else {
                    // award player 1 one point, reset game
                    score1 = score1 + 1;
                    reset();
                }
            }

            canvas_context.fillStyle = "black";
            canvas_context.fillRect(0, 0, canvas.width, canvas.height);


            canvas_context.fillStyle = "white";
            // draw paddles, that's a paddlin
            canvas_context.fillRect(0, p1y, pt, ph);
            canvas_context.fillRect(canvas.width - pt, p2y, pt, ph);

            // ball
            canvas_context.fillRect(bx - bd / 2, by - bd / 2, bd, bd);

            //score1 on left of screen, score2 on right
            canvas_context.fillText(score1, 100, 100);
            canvas_context.fillText(score2, canvas.width - 100, 100);

        }

        // continuously validate form input, show user that a unique name must be chosen
        $("#user_name").change(function () {
            if (names.includes($("#user_name").val())) {
                // stop user from submitting form with invalid name
                $("#errors").text("Sorry, this name is taken").css({"color": "red"});
                $('#submitButton').attr("disabled", true);
            } else {
                // allow user to submit form again
                $("#errors").text("This name is free!").css({"color": "green"});
                $('#submitButton').attr("disabled", false);
            }
        });

        // restart game
        var play_again = function () {
            //hide submit form
            document.getElementById("form-hidden").style.display = "none";

            //reset scores
            score1 = score2 = 0;
            // reset ball and paddles
            reset()

            // start game loop
            keep_going = true;
            stop = setInterval(update, 1000 / 30);
        }

    </script>

</div>

<script src="/static/js/script.js"></script>
{% endblock %}