{% extends 'template.html' %}
{% block content %}

<div class="container">
    <!-- formatting the leaderboard -->
    <table class = "leaderboard-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th class="right-align">Score</th>
                <th class="right-align">AI Speed</th>
            </tr>
        </thead>
        <tbody> <!-- inserting data -->
            {% for value in leader_board %}
                <tr>
                    {% if value[1][0] == highlight %}
                        <td class="active" >{{value[0]+1}}</td>
                        <td class="active">{{value[1][0]}}</td>
                        <td class="active right-align">{{value[1][1]}}</td>
                        <td class="active right-align">{{value[1][2]}}</td> <!--column for AI difficulty -->
                    {% else %}
                        <td>{{value[0]+1}}</td>
                        <td>{{value[1][0]}}</td>
                        <td class="right-align">{{value[1][1]}}</td>
                        <td class="right-align">{{ value[1][2] }}</td> <!--column for AI difficulty -->
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}