<!-- template file that will be pasted onto all other pages to reduce code duplication-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PONG | {{ title }} </title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- page icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/pong.ico">

    <!-- linking style sheets from static -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- linking remote css and java -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- background music to loop -->
    <audio id="backgroundMusic" autoplay loop>
        <source src="/static/sounds/background.mp3" type="audio/mpeg">
    </audio>

    <!-- javascript for the header navbar and sound controls -->
    <script>
        // declare globals to control sounds
        var play_fx = true;
        var play_music = true;

        // to mute and unmute audio effects
        var toggle_fx = function(){
            play_fx = !play_fx;
                if(play_fx){
                    document.getElementById('fx_icon').className = 'glyphicon glyphicon-volume-up';
                    localStorage.setItem('fx_enabled', 'true'); // Save sound preference
                }
                else{
                    document.getElementById('fx_icon').className = 'glyphicon glyphicon-volume-off';
                    localStorage.setItem('fx_enabled', 'false'); // Save sound preference
                }
        }

        // to mute and unmute background music uses glyphicon library for icons
        var toggle_music = function(){
            var audio = document.getElementById('backgroundMusic');
             play_music = !play_music;

            if (play_music) {
                audio.muted = false; // Unmute the audio
                document.getElementById('music_icon').className = 'glyphicon glyphicon-headphones';
                localStorage.setItem('music_enabled', 'true'); // Save music preference
            } else {
                audio.muted = true; // Mute the audio
                document.getElementById('music_icon').className = 'glyphicon glyphicon-volume-off';
                localStorage.setItem('music_enabled', 'false'); // Save music preference
            }
        }
        // to override the bootstraps deafult css
        $(document).ready(function () {
            $('.navbar-inverse .navbar-nav > li > a').css({
                'font-family': 'Impact, sans-serif',
                'font-size': '20px',
                'color': 'white'
            });
            $('.navbar-inverse .navbar-right > li > a').css('color', 'white'); // inline color chanfe
        });
    </script>
</head>
    <body>
        <nav class="navbar navbar-inverse" style="border-radius:10px;">
            <div class="container-fluid" style="background:black;">
                <ul class="nav navbar-nav">
                    <li><a href="/index/">Home</a></li>
                    <li><a href="/index/leader_board/">Leader Board</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- audio controls -->
                    <li onclick="toggle_fx()">
                        <a><span id="fx_icon" class="glyphicon glyphicon-volume-up"></span> Sound</a></li>
                    <li onclick="toggle_music()">
                        <a><span id="music_icon" class="glyphicon glyphicon-headphones"></span> Music</a></li>
                </ul>
            </div>
        </nav>


    {% block content %}{% endblock %}
    </body>
</html>